# Ignore everything in Downloads
Downloads/

# Ignore everything in config
config/*

# Allow only these specific files
!config/yt-dlp-options.txt
!config/cookies-sample.txt
!config/playlists-sample.txt